<!DOCTYPE html>
<head>
    <title> Upload Video</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style type="text/css">
    #InputContainer{
        display:flex;
    }
    #promoVid{
        height: 300px;
        width: 200px;
    }
   </style>
</head> 
<body>
        <video id="promoVid"  autoplay muted>
                <source src="../../../public/photo-storage/pic-1528178111209.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
    
</body>